body{
    background: black;
}

li{
    list-style: none;
}

.box{
    float: left;
    width: 170px ;
    height: 200px;
    background-color: gray;
    display: inline-block;
    margin: 5px;
    position: relative;
    bottom: 40px;
    border: solid 2px;
    text-align: center;
}

.box img{
     text-align: center;
     margin-top: 5px;
}

.box p{
    font-size: 20px;
    line-height: 5px;
}

.box a{
    font-size: 15px;
}

.site-header{
    background: #333;
    display: flex;
    padding: 5px 20px;
    position: fixed;
    justify-content: space-between;
    width: 95%;
    opacity: 0.9;
    z-index: 9999;
    height: 60px;
}

.site-logo img{
    height: 80px;
    width: auto;
    position: relative;
    bottom: 30px;
}

.gnav_menu{
    display: flex;
}

.gnav_menu_item{
    margin-left: 40px;
}

.gnav_menu_item a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    transition: 1s;
    -webkit-transition: .5s;
}

.gnav_menu_item a:hover{
    color: blue;
    font-size: 30px;
    transform: scale(2);    
}
/*
.hero{
    max-height: 500px;
    overflow: hidden;
}
.hero img{
    height: auto;
    width: 100%;
}
*/
.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 90%;
    text-align: center;
}

.content p{
    margin-bottom: 40px;
}

.site-footer{
    background: #333;
    padding: 80px 0;
}

section{
    margin: 0 auto;
    background-color: gray;
    padding-top: 50px;
    font-size: xx-large;
}

#Aboutus{
    width: 1000px;
    height: 700px;
}

#Member{
    width: 1000px;
    height: 700px;
}

#History{
    width: 1000px;
    height: 700px;
}

#Music{
    width: 1000px;
    height: 700px;
}

#Movie{
   width: 1000px;
   height: 700px;
}

div.top{
    text-align: center;
    background-color: black;
}

iframe{
    margin-left: 10px;
}

/* 画面外にいる状態 */
.fadein {
    opacity : 0.1;
    transform : translate(0, 150px);
    transition : all 800ms;
    }

/* 画面内に入った状態 */
.fadein.scrollin {
    opacity : 1;
    transform : translate(0, 0);
    }

