body {
	background-color: black;
	background-image: url("image/iconuhmb.png");
	background-repeat: no-repeat;
	background-position: center;
}

ul {
	margin-top: 450px;
	list-style: none;
	color: white;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
}

a {
	text-decoration: none;
	transition: .5s;
	-webkit-transition: .5s;
}

a:link {color: white;}

a:visited {color: white;}

a:hover {
	color: blue;
	font-size: 50px;
	transform: scale(2);
	animation-play-state: paused;	
}

a:active {color: black;}

.blink {
  animation: blinkAnime 1.1s infinite alternate;
}

@keyframes blinkAnime{
   0% { color: #ffffff }
 100% { color: #000000 }
}