body {
	background-color: black;
	background-image: url("image/iconuhmb.png");
	background-repeat: no-repeat;
	background-position: center;
}

ul {
	margin-top: 350px;
	list-style: none;
	color: white;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
}

a {
	text-decoration: none;
	transition: .5s;
	-webkit-transition: .5s;
}

a:link {color: white;}

a:visited {color: white;}

a:hover {
	color: blue;
	font-size: 50px;
	transform: scale(2);	
}

a:active {color: black;}