
body {
	background-color: black;
	}

#firstarea {
	text-align: center;
	margin-top: 200px;
}

img.Gb {
	width: 150px;
	height: 150px;
}

p {
	font-size: xx-large;
	text-align: center;
	color: white;
}

