
body {
	background-color: black;
	background-image: url(https://j.gifs.com/Jywk89.gif);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	margin-top: 200px;
}

p{
	position: relative;
	bottom: 190px;
}

#firstarea {
	text-align: center;
	margin-top: 200px;
}

#firstarea p{
	position: relative;
	top: 195px;
}

img.Gb {
	width: 150px;
	height: 150px;
	position: relative;
	top: 200px;
}

p {
	font-size: xx-large;
	text-align: center;
	color: white;
}

#firstarea p{
	position: relative;
	bottom: 170px;
}

